* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    border: 1px solid red;
}

.tree-1 {
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
}

.tree-2 {
    display: flex;
    /* flex-direction: column; */
    border: 1px solid yellow;
}

.tree-3 {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /* border: 1px solid blue; */
}

.tree-4 {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    border: 1px solid rgb(0, 128, 75);
}

.tree-5 {
    display: flex;
    /* flex-direction: column; */
    border: 1px solid black;
}

.tree-6 {
    display: flex;
    /* flex-direction: column; */
    border: 1px solid white;
}


